* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 90px; /* adjust depending on navbar height */
  background-color: #F6F6F6;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;  /* optional */
}

